html, body {
    min-width: 1024px;
    width: 100%;
    min-height: 768px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.hero {
    min-height: 768px;
    height: 100%;
    position: relative;
}

.fss-container {
    min-height: 768px;
    height: 100%;
    position: absolute;
    top: 0;
    min-width: 1024px;
    width: 100%;
}